* {
  margin: 0;
  padding: 0;
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 45px 0 55px 0;
  box-sizing: border-box;
  max-width: 640px;
  min-width: 320px;
  position: relative;
}
/*头部*/
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
  background-color: #006699;
  padding-left: 45px;
  padding-right: 45px;
  text-align: center;
  line-height: 45px;
}
.header p {
  font-size: 20px;
  color: #fff;
}
.header .home,
.header .search {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 0;
}
.header .home a,
.header .search a {
  display: block;
  color: #fff;
  font-size: 20px;
}
.header .home {
  left: 0;
}
.header .search {
  right: 0;
}
.main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}
/*轮播图*/
.mui-slider-indicator {
  bottom: 30px;
}
/*产品*/
.productor {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.productor li {
  width: 48%;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px;
  float: left;
  text-align: center;
  margin-bottom: 10px;
}
.productor li:nth-child(odd) {
  margin-right: 24px;
}
.productor li .manry {
  text-align: left;
  height: 40px;
}
/*页脚*/
.footer {
  width: 100%;
  height: 55px;
  background-color: #006699;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
}
.footer ul li {
  float: left;
  width: 25%;
}
.footer a {
  display: block;
  width: 100%;
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin-top: 8px;
}
.footer a p {
  line-height: 25px;
  color: #fff;
}
.footer a.active {
  color: orange;
}
.search {
  padding: 10px;
  position: relative;
}
.search input {
  width: 100%;
  height: 34px;
  font-size: 15px;
  text-align: left;
  border: 1px solid #007AFF;
  border-radius: 5px;
  margin-bottom: 0;
}
.search button {
  position: absolute;
  top: 10px;
  right: 10px;
}
.histroy {
  width: 100%;
  padding: 10px;
}
.histroy .title {
  height: 30px;
  line-height: 30px;
  font-size: 13px;
}
.histroy .title a {
  color: #666;
}
.histroy ul {
  border: 1px dashed red;
}
.histroy ul li {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px dashed red;
  padding: 0 10px;
}
.histroy ul li li:last-child {
  border-bottom: none;
}
.histroy ul li li:last-child a {
  display: block;
}
